// ## Colors
$Purple: hsl(300, 43%, 22%);
$Pink: hsl(333, 80%, 67%);
$PurpleLight: hsl(303, 10%, 53%);
$PurpleVeryLight: #F7F2F8;
$White: hsl(0, 0%, 100%);


// BreakPoints
$breakpoint-small: 728px;
$breakpoint-medium: 1098px;


@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');